
    #greendiv{
        position:absolute;
        top:50px;
        left:50px;
        background:rgb(185, 212, 185);
        width:300px;
        height:300px;
        right:auto;
        bottom:auto;
    }

    #mouth{
        position:absolute;
        background:black;
        width:240px;
        height:140px;
        top:140px;
        left:25px;

    }
    #eyes{
        background:white;
        width:100px;
        height:100px;
        position:absolute;

    }
    #pupils{
        background:black;
        width:30px;
        height:30px;
        position:absolute;

    }

    #teeth{
        background:white;
        position:absolute;
        height:20px;
        width:20px;
    }