body {
    background-color:blue;
    padding:25px;
    font-family:cursive;
}

.Heading{
    color:orange;
    text-align:center;
    font-size:x-large;
    font-style:italic;
}

.Subheading{
    color:orangered;
    text-align:left;
    font-size:large;
    border:5px;
    border-style:dashed;
    border-color:black;
    width:100px;
}

.Profile-Img{
    height:200px;
    opacity:0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}